In [12]:
import pandas as pd
import motor.motor_asyncio
from motor.motor_asyncio import AsyncIOMotorClient
from pymongo.server_api import ServerApi

%autoawait asyncio

In [13]:
uri = "mongodb+srv://scientificprogramming:***REMOVED***@scientificprogramming.nzfrli0.mongodb.net/test"
DBclient = AsyncIOMotorClient(uri, server_api=ServerApi('1'))
db = DBclient.data
collection = db.weather

In [14]:
async def extract_heatingdemand(collection):
    """Extract the negative deviation of 14°C = 288°K"""
    cursor = collection.aggregate([
    {
        '$addFields': {
            'heatingdemand': {
                '$cond': {
                    'if': {
                        '$lte': [
                            '$temp', 288
                        ]
                    }, 
                    'then': {
                        '$subtract': [
                            288, '$temp'
                        ]
                    }, 
                    'else': 0
                }
            }
        }
    }, {
        '$addFields': {
            'date': {
                '$substr': [
                    '$dt', 0, 10
                ]
            }
        }
    }, {
        '$group': {
            '_id': '$date', 
            'avg_demand': {
                '$avg': '$heatingdemand'
            }
        }
    }, {
        '$match': {
            'avg_demand': {
                '$gt': 0
            }
        }
    }
    ])

    results=[]
    async for x in cursor:
        results.append(x)
    
    df = pd.DataFrame(results)
    df = df.set_index("_id")

    df = df.set_index(pd.to_datetime(df.index).tz_localize("UTC").rename("date"))
    df = df.sort_index()
    
    return df

In [17]:
async def extract_avgtemp(collection):
    cursor = collection.aggregate([
    {
        '$addFields': {
            'date': {
                '$substr': [
                    '$dt', 0, 10
                ]
            }
        }
    }, {
        '$group': {
            '_id': '$date', 
            'avg_temp': {
                '$avg': '$temp'
            },
            'min_temp': {
                '$min': '$temp'
            },
            'max_temp': {
                '$max': '$temp'
            }
        }
    }
    ])

    results=[]
    async for x in cursor:
        results.append(x)
    
    df = pd.DataFrame(results)
    df = df.set_index("_id")

    df = df.set_index(pd.to_datetime(df.index).tz_localize("UTC").rename("date"))
    df = df.sort_index()
    
    return df

In [18]:
df = await(extract_heatingdemand(collection))
df

                           avg_demand
date
2022-12-01 00:00:00+00:00    0.000667
2022-12-05 00:00:00+00:00    0.000083
2022-12-06 00:00:00+00:00    0.000542
2022-12-10 00:00:00+00:00    0.001625
2022-12-11 00:00:00+00:00    0.002125
2022-12-13 00:00:00+00:00    0.001125
2022-12-15 00:00:00+00:00    0.002208
2022-12-16 00:00:00+00:00    0.004208
2022-12-17 00:00:00+00:00    0.005083
2022-12-18 00:00:00+00:00    0.006875
2022-12-19 00:00:00+00:00    0.012250
2022-12-20 00:00:00+00:00    0.006917
2023-01-10 00:00:00+00:00    0.001167
2023-01-13 00:00:00+00:00    0.005708
2023-01-19 00:00:00+00:00    0.000458
2023-01-20 00:00:00+00:00    0.011625
2023-01-22 00:00:00+00:00    0.003375
2023-01-23 00:00:00+00:00    0.008708
2023-01-31 00:00:00+00:00    0.005083
2023-02-01 00:00:00+00:00    0.003000
2023-02-03 00:00:00+00:00    0.001542
2023-02-04 00:00:00+00:00    0.007583
2023-02-05 00:00:00+00:00    0.010083
2023-02-06 00:00:00+00:00    0.001167
2023-02-11 00:00:00+00:00    0.002875
2023-02-12 00:00:00+00:00    0.005083
2023-02-13 00:00:00+00:00    0.002250
2023-02-19 00:00:00+00:00    0.002042
2023-02-20 00:00:00+00:00    0.001833
2023-02-21 00:00:00+00:00    0.002792