In [13]:
import pandas as pd
from motor.motor_asyncio import AsyncIOMotorClient
from pymongo.server_api import ServerApi

In [14]:
uri = "mongodb+srv://scientificprogramming:***REMOVED***@scientificprogramming.nzfrli0.mongodb.net/test"
DBclient = AsyncIOMotorClient(uri, server_api=ServerApi('1'))
db = DBclient.data
collection = db.wetter2

In [15]:
async def extract_heatingdemand(collection) -> pd.DataFrame:
    """Extract the daily average of the negative deviation of 14°C = 288°K"""
    pipeline = [
        {
            '$addFields': {
                'heatingdemand': {
                    '$cond': {
                        'if': {
                            '$lte': [
                                '$temp_C', 14
                            ]
                        }, 
                        'then': {
                            '$subtract': [
                                14, '$temp_C'
                            ]
                        }, 
                        'else': 0
                    }
                }
            }
        }, {
            '$addFields': {
                'date': {
                    '$substr': [
                        '$datetime', 0, 10
                    ]
                }
            }
        }, {
            '$group': {
                '_id': '$date', 
                'avg_demand': {
                    '$avg': '$heatingdemand'
                }
            }
        }
    ]

    results=[]
    async for x in collection.aggregate(pipeline):
        results.append(x)
    
    df = pd.DataFrame(results)
    df = df.set_index("_id")
    df = df.set_index(pd.to_datetime(df.index).tz_localize("UTC").rename("date"))
    df = df.sort_index()
    df["total"] = df.sum(axis="columns")
    
    return df

In [16]:
async def extract_data_daily(collection) -> pd.DataFrame:
    """Extract the daily averages of all the interesting datapoints"""
    pipeline = [
        {
            '$addFields': {
                'date': {
                    '$substr': [
                        '$datetime', 0, 10
                    ]
                }
            }
        }, 
        {
            '$group': {
                '_id': '$date', 
                'temp_C': {
                    '$avg': '$temp_C'
                }, 
                'min_temp_C': {
                    '$min': '$temp_C'
                }, 
                'max_temp_C': {
                    '$max': '$temp_C'
                }, 
                'rain_mm': {
                    '$avg': '$rain_mm'
                }, 
                'wind_kmh': {
                    '$avg': '$wind_kmh'
                }, 
                'cloud_percent': {
                    '$avg': '$cloud_percent'
                }
            }
        }
    ]

    results=[]
    async for x in collection.aggregate(pipeline):
        results.append(x)
    
    df = pd.DataFrame(results)
    df = df.set_index("_id")
    df = df.set_index(pd.to_datetime(df.index).tz_localize("UTC").rename("date"))
    df = df.sort_index()
    df["total"] = df.sum(axis="columns")
    
    return df

In [17]:
async def extract_windpower(collection) -> pd.DataFrame:
    """Extract the wind-speed**2, which is the equivalent of wind-power"""
    pipeline = [
        {
            '$addFields': {
                'date': {
                    '$substr': [
                        '$datetime', 0, 10
                    ]
                }
            }
        }, {
            '$group': {
                '_id': '$date', 
                'windpower': {
                    '$avg': {
                        '$pow': [
                            '$wind_kmh', 2
                        ]
                    }
                }
            }
        }
    ]

    results=[]
    async for x in collection.aggregate(pipeline):
        results.append(x)
    
    df = pd.DataFrame(results)
    df = df.set_index("_id")
    df = df.set_index(pd.to_datetime(df.index).tz_localize("UTC").rename("date"))
    df = df.sort_index()
    df["total"] = df.sum(axis="columns")
    
    return df

In [18]:
df_1 = await extract_data_daily(collection)
df_2 = await extract_heatingdemand(collection)
df_3 = await extract_windpower(collection)

In [11]:
df_3

                            windpower
date
2019-01-01 00:00:00+00:00   29.261071
2019-01-02 00:00:00+00:00  215.258229
2019-01-03 00:00:00+00:00   99.923646
2019-01-04 00:00:00+00:00   56.707292
2019-01-05 00:00:00+00:00   79.278229
...                               ...
2023-04-20 00:00:00+00:00   40.636052
2023-04-21 00:00:00+00:00   56.015694
2023-04-22 00:00:00+00:00   72.744322
2023-04-23 00:00:00+00:00   54.428690
2023-04-24 00:00:00+00:00  137.391870

[1575 rows x 1 columns]