In [1]:
import pandas as pd
import motor.motor_asyncio
from motor.motor_asyncio import AsyncIOMotorClient
from pymongo.server_api import ServerApi

%autoawait asyncio

/Users/missd/.pyenv/versions/3.10.4/lib/python3.10/site-packages/requests/__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.1.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [2]:
uri = "mongodb+srv://scientificprogramming:***REMOVED***@scientificprogramming.nzfrli0.mongodb.net/test"
DBclient = AsyncIOMotorClient(uri, server_api=ServerApi('1'))
db = DBclient.data
collection = db.entsoe

In [3]:
db_field_projection = {
    'wind': '$Wind Onshore Generation', 
    'solar': '$Solar Generation', 
    'nuclear': '$Nuclear Generation', 
    'water_reservoir': '$Hydro Water Reservoir Generation', 
    'water_river': '$Hydro Run-of-river and poundage Generation', 
    'water_pump': '$Hydro Pumped Storage Generation',   
}

In [4]:
async def extract_energy_data_daily(collection=collection) -> pd.DataFrame:
    """Extract the daily average of all the data"""

    pipeline = [
    {
        '$addFields': {
            'date': {
                '$substr': [
                    '$datetime', 0, 10
                ]
            }
        }
    }, {
        '$group': {
            '_id': '$date', 
            **{k: {'$avg': v} for k, v in db_field_projection.items()},
        }
    }
    ]

    results=[]
    async for x in collection.aggregate(pipeline):
        results.append(x)
    
    df = pd.DataFrame(results)
    df = df.set_index("_id")
    df = df.set_index(pd.to_datetime(df.index).tz_localize("UTC").rename("date"))
    df = df.sort_index()
    df["total"] = df.sum(axis="columns")

    return df

In [5]:
async def extract_energy_data_raw(collection=collection) -> pd.DataFrame:
    """Extract all the data"""
    
    projection={
        '_id': False,
        'datetime': "$datetime",
        **db_field_projection,
    }

    results= await collection.find(projection=projection).to_list(None)
    
    df = pd.DataFrame(results)
    df = df.set_index("datetime")
    df = df.set_index(pd.to_datetime(df.index).tz_localize("UTC"))
    df = df.sort_index()
    df["total"] = df.sum(axis="columns")

    return df

In [6]:
df_1 = await extract_energy_data_daily(collection)
df_2 = await extract_energy_data_raw(collection)

In [8]:
df_2

,wind,solar,nuclear,water_reservoir,water_river,water_pump,total
datetime,,,,,,,
2022-04-07 00:00:00+00:00,49.0,0.0,3007.0,97.0,158.0,93.0,3404.0
2022-04-07 01:00:00+00:00,49.0,0.0,3008.0,75.0,159.0,46.0,3337.0
2022-04-07 02:00:00+00:00,49.0,0.0,3008.0,90.0,152.0,46.0,3345.0
2022-04-07 03:00:00+00:00,48.0,0.0,3010.0,111.0,161.0,127.0,3457.0
2022-04-07 04:00:00+00:00,50.0,0.0,3009.0,434.0,168.0,104.0,3765.0
...,...,...,...,...,...,...,...
2023-04-13 17:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2023-04-13 18:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2023-04-13 19:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2023-04-13 20:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2023-04-13 21:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,0.0